
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth.token.admin == true;
    }

    match /users/{userId} {
      allow read, update, delete: if isSignedIn() && isOwner(userId);
      allow create: if isSignedIn() && isOwner(userId);
      allow list: if false; 
    }

    match /users/{userId}/transactions/{transactionId} {
      allow read, write: if isSignedIn() && isOwner(userId);
    }
    
    match /payouts/{payoutId} {
      allow get: if isSignedIn() && (isOwner(resource.data.userId) || isAdmin());
      allow list: if isAdmin();
      allow create: if isSignedIn() && isOwner(request.resource.data.userId);
      allow update: if isAdmin();
      allow delete: if false;
    }

    match /offers/{offerId} {
        allow get, list: if isSignedIn();
        allow write: if isAdmin();
    }

    match /roles_admin/{userId} {
      allow get, list, write: if isAdmin();
    }

    match /chat_messages/{messageId} {
      allow read, list: if isSignedIn();
      allow create: if isSignedIn() 
                    && request.resource.data.userId == request.auth.uid
                    && request.resource.data.text.size() > 0 
                    && request.resource.data.text.size() <= 280;
      allow update, delete: if false;
    }
  }
}
